.sign-in-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17a2b8;
    margin-bottom: 30px;
    padding: 10px 0 10px 0;
}


.sign-in-row-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb417;
    margin-bottom: 30px;
    padding: 10px 0 10px 0;
}

.logo {
    width: 50px;
    height: 30px;
    margin-top: auto;
}

.icon {
    width: 40px;
    height: 40px;
}

.card_margin {
    margin-top: 25%;
}

h5 {
    margin-top: 1em;
}

h1 {
    color: white;
}

h4 {
    font-size: large;
}

hr {
    margin-top: 0.5em;
}

.nav-link-user, .nav-link-user:hover {
    color: white;
}

.table td {
    border-top: 0;
}

.message_header {
    font-size: 0.8em;
    margin-top: 1.25rem;
}

.mycontent-left {
    border-right: 1px solid #17a2b8;
}

.message_sender {
    color: deepskyblue;
}

.message_new {
    color: #01a31c;
}

.message_content {
    font-size: 1em;
    background-color: #e9ecef;
    border-top: 1px solid lightgrey;
    padding: .375rem .75rem;
}

.table td.group_header {
    font-size: 1em;
    background-color: #e9ecef;
    border-top: 4px solid #ffffff;
}

.form_posts_content {
    margin-bottom: .25rem;
}

.my_margin_post {
    margin-top: 2rem;
}

.my_form_group {
    width: 50%;
    margin: auto;
}

.my_button {
    margin-right: 0px;
}

.my_text {
    margin-left: 11%;
}

.group_content {
    font-size: 1em;
    background-color: #e9ecef;
    border-top: 1px solid #e9ecef;
    padding: .5rem .75rem;
    margin-bottom: .25rem;
}

.index_img {
    width: 200px;
    height: 200px;
}

ul {
    list-style-type: none;
}

.my_link {
    text-decoration: none;
    color: #17a2b8;
}

.my_link:hover {
    text-decoration: none;
    color: dimgray;
}

.my_group_link {
    font-size: xx-large;
    color: #17a2b8
}

.my_group_link:hover {
    text-decoration: none;
    color: #004d60;
}

.my_button_float_right {
    float: right;
}

.smaller_margin {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.my_title {
    font-size: xx-large;
    color: #17a2b8
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 992px) {

    .float-right {
        float: left !important;
    }

    .my_form_group {
        width: 100%;
    }

    .my_text {
        margin-left: auto;
    }

    .index_img {
        display: none;
    }

    .card_margin {
        margin-top: 0%;
    }

    .display-4 {
        font-size: 40px;
    }

    h4 {
        font-size: medium;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    h5 {
        font-size: medium;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .smaller_margin {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .group_content {
        background-color: #ffffff;
        border:0;
    }

}

@media (max-width: 768px) {
    .display-4 {
        font-size: xx-large;
    }

    h4 {
        font-size: small;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    h5 {
        font-size: small;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .my_group_link {
        font-size: medium;
    }

}

@media (max-width: 600px) {
    .display-4 {
        font-size: small;
        font-weight: bold;
    }

    h4 {
        font-size: x-small;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    h5 {
        font-size: x-small;
        margin-bottom: 10px;
        margin-top: 20px;
    }

}